<footer class="footer-custom text-white pt-5 pb-4">
  <div class="container text-center text-md-start">
    <div class="row justify-content-center">

      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase mb-4 fw-bold">Adopciones Guarne</h5>
        <div class="iconosContacto">
          <a href="https://wa.me/573242790914" title="Adopciones Guarne en WhatsApp" target="_blank">
            <img src="assets/img/whatsapp.svg" width="24" height="24" alt="WhatsApp">
          </a>
          <a href="https://www.instagram.com/adopcionesguarne/" title="Adopciones Guarne en Instagram"
            target="_blank">
            <img src="assets/img/instagram.svg" width="24" height="24" alt="Instagram">
          </a>
        </div>
      </div>

      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase mb-4 fw-bold">Enlaces</h5>
        <ul class="listaDiv">
          <li><a routerLink="/" class="text-white text-decoration-none">Inicio</a></li>
          <li><a routerLink="/quienes-somos" class="text-white text-decoration-none">Quiénes Somos</a></li>
          <li><a routerLink="/adopta" class="text-white text-decoration-none">Adopta</a></li>
          <li><a routerLink="/contactanos" class="text-white text-decoration-none">Contáctanos</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <a href="https://www.guarne-antioquia.gov.co" title="Alcaldía de Guarne" target="_blank">
          <img src="assets/img/guarne.png" height="80" alt="Alcaldía" class="mt-3">
        </a>
        <p class="mt-2">© Todos los derechos reservados,<br> desde 2026</p>
      </div>

    </div>
  </div>
</footer>
